* {
  box-sizing: border-box;
  transition: all .25s linear; }

.ba-container {
  width: 1200px;
  position: absolute;
  font-size: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

img {
  cursor: pointer; }

img:hover,
img:focus,
img:active {
  transform: scale(1.2); }
